@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.container {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: pink; */
}

.wrapper {
    width: 100%;
}
/* --------header--------- */
header {
    position: relative;
    width: 100%;
    height: 210px;
}
/* ---------login---------- */
.login-line {
    width: 100%;
    background-color: #f2f2f4;
    border-bottom: 1px solid #b8b8b8;
}

.login-box {
    height: 23px;
}

.login-list li {
    display: inline-block;
    float: right;
    margin: 7px;
    font-size: 12px;
}

.login-list li:hover {
    font-weight: bold;
}
/* 로고와 검색창 묶음 */
.logo-and-search {
    margin-top: 66px;
    margin-bottom: 69px;
}

/* ---------logo---------- */
h2 > a {
    float: left;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #0000cb;
    margin-left: 90px;
    margin-right: 102px;
}

h2 a p {
    color: #0000cb;
    font-family: 'Jeju Gothic', sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

/* --------search-------- */
.find-box {
    float: left;
}

.find {
    height: 58px; width: 477px;
    padding: 15px;
    background: transparent;
    border-radius: 50px;
    border: 7px solid #0000cb;
}



/* ---------메인---------- */
.main-img img {
    display: block;
    width: 100%;
    margin-bottom: 0;
}


/* --------메인 메뉴---------- */
.main-menu {
    opacity: 70%;
    background-color: black;
    margin-top: 0px;
}

.gnb {
    display: flex;
}

.gnb li {
    flex: 200px;
    width: 100%;
    padding: 30px 0;
    margin-left: 65px;
}

.gnb li a{
    font-weight: 100;
    opacity: 1;
    color: white;
}

.gnb li a:hover {
    font-weight: bold;
}